* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 43);
    flex-direction: column;
}

.container {
    border: 2px solid white;
    border-radius: 8px;
    padding: 15px;
}

input {
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 25px #6c6c75 inset;
    border: none;
    font-size: 25px;
}

input:focus {
    outline: none;
}

#error {
    text-align: center;
    font-size: 18px;
    color: red;
    margin-top: 9px;
    display: none;
}


.button-container {

    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;

    margin-top: 21px;
}
.button-container div {

    text-align: center;
}
button {

    color:rgb(245, 242, 242);
    background-color: black;
    border-radius: 30%;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.row-1 button {

    background-color: rgb(214, 147, 21);
}

.equal {

    grid-column: 3 / 5;
}

.equal button {

    border-radius: 20px;
    width: 82%;
}